  <!-- navigation -->
<header class="navigation fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-white">
      <a class="navbar-brand order-1" href="index.html">
        <h2>KindKitchen</h2>
      </a>
      <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
        <ul class="navbar-nav mx-auto">

        <ul class="navbar-nav ms-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to "My Dashboard", dashboard_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%#= link_to "Register", register_path, class: 'nav-link' %>
              <%= link_to "Create Account", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%#= link_to "Log In", login_path, class: 'nav-link' %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        </ul>
      </div>

      <div class="order-2 order-lg-3 d-flex align-items-center">
        
        <!-- search -->
        <%= form_with url: recipes_path, method: :get, local: true, data: {turbo: false}, class: "header-search-form" do |f| %>
          <%= f.text_field :search, placeholder: "Search by Ingredients..." %>
          <%= f.submit "Search" %>
        <% end %>
      </div>

    </nav>
  </div>
</header>
<!-- /navigation -->

<div class="banner text-center">
<h1>My Saved Recipes</h1>
</div>

  <div class="container d-flex flex-wrap justify-content-center">
    <% @facade.recipes.each do |recipe| %>
      <div class ="col-lg-4 col-md-6 col-sm-12">
        <div class = "card h-100">
          <div class = "card recipe-card">
            <%= link_to recipe_path(recipe.id) do %>
              <img src="<%= recipe.img_src %>" alt="<%= recipe.name %>" class="card-img-top">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to recipe.name, recipe_path(recipe.id) %></h5>
      <%= button_to "Delete Saved Recipe", user_recipes_path, method: :delete, data: {turbo: false}, params: {user_id: current_user.id, recipe_id: recipe.id} %>
            </div>
          </div>
        </div>
      </div><br>
    <% end %>

</div>