 <%= form_with url: recipes_path, method: :get, local: true, data: {turbo: false} do |f| %>
      <%= f.text_field :search, placeholder: "Search by Ingredients..." %>
      <%= f.submit "Search" %>
  <% end %>

<div class = "container">
  <div class = "row" >
    <% @recipe_facade.recipes.each do |recipe| %>
      <div class ="col-lg-4 col-md-6 col-sm-12">
        <div class = "recipe-card">
          <%= link_to recipe_path(recipe) do %>
            <img src="<%= recipe.img_src %>" alt="<%= recipe.name %>" class="recipe-image">
          <% end %>
          <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
