  <!-- navigation -->
<header class="navigation fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-white">
      <a class="navbar-brand order-1" href="/recipes">
        <h2>KindKitchen</h2>
      </a>
      <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
        <ul class="navbar-nav mx-auto">

        <ul class="navbar-nav ms-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to "My Dashboard", dashboard_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%#= link_to "Register", register_path, class: 'nav-link' %>
              <%= link_to "Create Account", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%#= link_to "Log In", login_path, class: 'nav-link' %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        </ul>
      </div>

      <div class="order-2 order-lg-3 d-flex align-items-center">
        
        <!-- search -->
        <%= form_with url: recipes_path, method: :get, local: true, data: {turbo: false}, class: "header-search-form" do |f| %>
          <%= f.text_field :search, placeholder: "Search by Ingredients..." %>
          <%= f.submit "Search" %>
        <% end %>
      </div>

    </nav>
  </div>
</header>
<!-- /navigation -->
<div class="banner text-center">
<br><h1><%= @recipe_facade.recipe.name %></h1>
<div class="d-flex justify-content-center">
  <% if current_user %>
    <br><%= button_to "Save Recipe", user_recipes_path, method: :post, data: {turbo: false}, params: {user_id: current_user.id, recipe_id: @recipe_facade.search} %>
  <% end %>
</div>
<br><img src="<%= @recipe_facade.recipe.img_src %>" alt="<%= @recipe_facade.recipe.name %>">
<br><b>Servings</b>: <%= @recipe_facade.recipe.servings %>
<br><b>Prep Time</b>: <%= @recipe_facade.recipe.cooking_time %> Minutes
<br>
<br><b><u>Ingredients</u></b>
<% @recipe_facade.recipe.ingredients.each do |ingredient| %>
                    <br><%= ingredient %>
                    <% end %>
                    <br>
<br><b><u>Instructions</u></b>
<div class="text-left">
<% @recipe_facade.recipe.instructions.each do |instruction| %>
                    <% instruction.each do |number, step| %>
                      <br><b><%= number %>)</b> <%= step %>
                    <% end %>
                  <% end %>
  </div>
</div>