<h1>Kind Kitchen</h1>
<% if current_user %>
  <h2><%= current_user.email %></h2>
  <%= link_to "Edit Account", edit_user_registration_path %>
  <%= button_to "Logout", destroy_user_session_path, data: {turbo: false}, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Create Account", new_user_registration_path %>
<% end %>