<%= form_with url: recipes_advanced_search_index_path, method: :get, local: true, data: {turbo: false}, class: "advanced-search-form"  do |f| %>
  <%= f.text_field :advanced_search, placeholder: "Search by Ingredients..." %>
  <%= f.submit "Advanced Search" %>
  <%= check_box_tag :breakfast %> Breakfast
  <%= check_box_tag :main_course %> Main Course
  <%= check_box_tag :side_dish %> Side Dish 
  <%= check_box_tag :dessert %> Dessert
  <%= check_box_tag :appetizer %> Appetizer
  <%= check_box_tag :salad %> Salad
  <%= check_box_tag :soup %> Soup 
  <%= check_box_tag :beverage %> Beverage
  <%= check_box_tag :sauce %> Sauce
  <%= check_box_tag :marinade %> Marinade
  <%= check_box_tag :snack %> Snack
  <%= check_box_tag :ketogenic %> Ketogenic
  <%= check_box_tag :vegetarian %> Vegetarian
  <%= check_box_tag :vegan %> Vegan
  <%= check_box_tag :pescetarian %> Pescetarian
  <%= check_box_tag :paleo %> Paleo
  <%= check_box_tag :primal %> Primal
  <%= check_box_tag :low_fodmap %> Low FODMAP
  <%= check_box_tag :whole30 %> Whole30
  <%= check_box_tag :dairy_free %> Dairy Free
  <%= check_box_tag :egg_free %> Egg Free
  <%= check_box_tag :gluten_free %> Gluten Free
  <%= check_box_tag :grain_free %> Grain Free
  <%= check_box_tag :peanut_free %> Peanut Free
  <%= check_box_tag :seafood_free %> Seafood Free
  <%= check_box_tag :sesame_free %> Sesame Free
  <%= check_box_tag :shellfish_free %> Shellfish Free
  <%= check_box_tag :soy_free %> Soy Free
  <%= check_box_tag :sulfite_free %> Sulfite Free
  <%= check_box_tag :tree_nut_free %> Tree Nut Free
  <%= check_box_tag :wheat_free %> Wheat Free
<% end %>

<div class = "container">
  <div class = "row" >
    <% @recipe_advanced_search_facade.recipes.each do |recipe| %>
      <div class ="col-lg-4 col-md-6 col-sm-12">
        <div class = "card h-100">
          <div class = "card recipe-card">
            <%= link_to recipe_path(recipe) do %>
              <img src="<%= recipe.img_src %>" alt="<%= recipe.name %>" class="card-img-top">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to recipe.name, recipe_path(recipe) %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
