<!DOCTYPE html>
<html>
  <head>
    <title>ConsultancyFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-message">
        <%= msg %>
      </div>
    <% end %>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <% if session[:user_id] %>
            <li class="nav-item">
              <%= link_to "Log Out", logout_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Register", register_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", login_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
