<!DOCTYPE html>
<html>
  <head>
    <title>ConsultancyFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-message">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <header style="text-align: right;"> <!-- make me a navbar when we add bootstrap/tailwind -->
      <% if session[:user_id] %>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
